<body class="fadeIn">
<section>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Escribe numeros en ingles" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
</section>

<section class="checkbox">
  <mat-checkbox>Por favor checkear :)</mat-checkbox>
</section>

<section class="datepicker">
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Elija la fecha por favor">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</section>

<section class="form_field">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Nombre del usuario">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Como es usted digame"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-select placeholder="Descripcion">
        <mat-option value="option">Bonito</mat-option>
        <mat-option value="option">El aguante</mat-option>
        <mat-option value="option">Feo</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</section>

<section>
  <form class="example-form1">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Su amor platonico" value="Mmm no se">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Comentenos por que le gusta"></textarea>
    </mat-form-field>
  </form>
</section>
</body>
<body>
  

<section class="radio">
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1"><p>Esta bonita</p></mat-radio-button>
    <br>
    <mat-radio-button value="2"><p>O no sabe</p></mat-radio-button>
  </mat-radio-group>
</section>

<section class="select">
  <h4>The Basic</h4>
<mat-form-field>
  <mat-label>Favorite Country</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<h4>The Basic Nativ</h4>
<mat-form-field>
  <mat-label>Choose Car</mat-label>
  <select matNativeControl required>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
</mat-form-field>
</section>

<section class="slider">
  <h2>Cuanto te gusto la aplicacion</h2>
  <mat-slider></mat-slider>
</section>

<section class="toggle">
  <mat-slide-toggle [color]="color">Si estuvo bien</mat-slide-toggle>
</section>

</body>